.about_hero_component {
  background-image: url(../img/about-hero-bg.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .about_hero_component {
    height: 50vh;
  }
}
.about_hero_component h1 {
  color: var(--secondary-100);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 550px) {
  .about_hero_component h1 {
    font-size: 54px;
  }
}

.dynamic_component {
  background-color: var(--secondary-300);
  padding: 80px 0;
}
.dynamic_component .dynamic_heading {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 882px) {
  .dynamic_component .dynamic_heading {
    flex-direction: row;
    align-items: center;
  }
}
.dynamic_component .dynamic_heading h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  width: 100%;
  text-align: center;
}
@media (min-width: 550px) {
  .dynamic_component .dynamic_heading h2 {
    font-size: 36px;
  }
}
@media (min-width: 882px) {
  .dynamic_component .dynamic_heading h2 {
    width: 50%;
    text-align: left;
  }
}
.dynamic_component .dynamic_heading p {
  color: var(--primary-200);
  width: 100%;
  text-align: center;
}
@media (min-width: 882px) {
  .dynamic_component .dynamic_heading p {
    text-align: left;
    width: 50%;
  }
}
.dynamic_component .dynamic_cards {
  gap: 16px;
  padding-top: 36px;
  flex-wrap: wrap;
}
.dynamic_component .dynamic_cards .dynamic_card_box {
  background-color: var(--secondary-100);
  padding: 16px 16px;
  gap: 10px;
  border-radius: 16px;
  width: 100%;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .dynamic_component .dynamic_cards .dynamic_card_box {
    width: 48%;
  }
}
@media (min-width: 992px) {
  .dynamic_component .dynamic_cards .dynamic_card_box {
    width: 23%;
    padding: 36px 24px;
    gap: 16px;
    border-radius: 16px;
  }
}
.dynamic_component .dynamic_cards .dynamic_card_box img {
  height: 60px;
  width: 60px;
}
@media (min-width: 992px) {
  .dynamic_component .dynamic_cards .dynamic_card_box img {
    height: 70px;
    width: 70px;
  }
}
.dynamic_component .dynamic_cards .dynamic_card_box h4 {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-100);
}
.dynamic_component .dynamic_cards .dynamic_card_box p {
  color: var(--primary-200);
}

.profitable_component .profitable_container {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column-reverse;
  padding: 40px 20px;
}
@media (min-width: 992px) {
  .profitable_component .profitable_container {
    padding: 80px 0;
    flex-direction: row;
  }
}
.profitable_component .profitable_container img {
  width: 100%;
}
@media (min-width: 992px) {
  .profitable_component .profitable_container img {
    width: 48%;
  }
}
.profitable_component .profitable_container img:hover {
  animation: enquiry 1s infinite ease-in-out alternate;
}
.profitable_component .profitable_container .profitable_desc {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .profitable_component .profitable_container .profitable_desc {
    width: 50%;
  }
}
.profitable_component .profitable_container .profitable_desc h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
@media (min-width: 550px) {
  .profitable_component .profitable_container .profitable_desc h2 {
    font-size: 36px;
  }
}
@media (min-width: 550px) and (min-width: 882px) {
  .profitable_component .profitable_container .profitable_desc h2 {
    text-align: left;
  }
}
.profitable_component .profitable_container .profitable_desc p {
  color: var(--primary-200);
  text-align: center;
}
@media (min-width: 882px) {
  .profitable_component .profitable_container .profitable_desc p {
    text-align: left;
  }
}
.profitable_component .profitable_container .profitable_desc .profitable_points {
  flex-direction: column;
}
.profitable_component .profitable_container .profitable_desc .profitable_points .profitable_data {
  gap: 16px;
}
.profitable_component .profitable_container .profitable_desc .profitable_points .profitable_data img {
  height: 64px;
  width: 64px;
}
.profitable_component .profitable_container .profitable_desc .profitable_points .profitable_data .profitable_heading h4 {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-100);
}
.profitable_component .profitable_container .profitable_desc .profitable_points .profitable_data .profitable_heading p {
  text-align: left;
}

.history_component {
  background-color: var(--primary-color);
  padding: 80px 0;
  text-align: center;
}
.history_component .history_title {
  align-items: center;
  padding-bottom: 36px;
}
.history_component .history_title h2 {
  font-size: 20px;
  color: var(--secondary-100);
  font-weight: 600;
}
@media (min-width: 550px) {
  .history_component .history_title h2 {
    font-size: 36px;
  }
}
@media (min-width: 550px) and (min-width: 882px) {
  .history_component .history_title h2 {
    text-align: left;
  }
}
.history_component .history_title img {
  height: 80px;
  width: 80px;
}
.history_component .history_title p {
  color: var(--secondary-100);
}
.history_component .history_data {
  color: var(--secondary-100);
  text-align: left;
  flex-direction: column;
}
@media (min-width: 992px) {
  .history_component .history_data {
    flex-direction: row;
  }
}
.history_component .history_data .underline_decoration {
  transform-origin: 0%;
  background-color: #ececec;
  height: 1px;
  position: absolute;
  inset: 29% 0% auto;
  background-color: var(--primary-100);
  top: 25%;
  z-index: 1;
  transform: rotateZ(90deg);
  left: 15%;
  display: none;
}
@media screen and (min-width: 768px) {
  .history_component .history_data .underline_decoration {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .history_component .history_data .underline_decoration {
    top: 30%;
    transform: none;
    left: 0%;
  }
}
.history_component .history_data .history_year {
  padding: 0 36px;
  z-index: 2;
  width: calc(100% - 20px);
}
@media screen and (min-width: 992px) {
  .history_component .history_data .history_year {
    width: calc(25% - 20px);
  }
}
.history_component .history_data .history_year h4 {
  font-weight: 600;
  font-size: 20px;
}
.history_component .history_data .history_year p {
  font-weight: 400;
  color: var(--secondary-200);
}
.history_component .history_data .history_year .hitstory_dot {
  border: 1px solid #ececec;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: #0c064a;
  border-color: #5045c5;
  margin: 0px 0;
}
@media screen and (min-width: 768px) {
  .history_component .history_data .history_year .hitstory_dot {
    margin: 24px 0;
  }
}
.history_component .history_data .history_year .hitstory_dot .home-three-award-dot {
  background-image: linear-gradient(165deg, #e86310, #3c2fc0);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.timeEffort_component {
  padding: 36px 0;
  background-color: #09043d;
}
.timeEffort_component .timeEffort_section {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.timeEffort_component .timeEffort_section a {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-100);
  cursor: pointer;
}
.timeEffort_component .timeEffort_section p {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-100);
  margin: 0;
}

.team_component {
  padding: 80px 0;
}
.team_component .team_heading {
  text-align: center;
}
.team_component .team_heading h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
}
@media (min-width: 550px) {
  .team_component .team_heading h2 {
    font-size: 36px;
  }
}
@media (min-width: 550px) and (min-width: 882px) {
  .team_component .team_heading h2 {
    text-align: center;
  }
}
.team_component .team_members {
  padding-top: 36px;
  gap: 16px;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .team_component .team_members {
    flex-wrap: nowrap;
  }
}
.team_component .team_members .team_box {
  position: relative;
  width: 100%;
}
@media (min-width: 500px) {
  .team_component .team_members .team_box {
    width: 48%;
  }
}
@media (min-width: 992px) {
  .team_component .team_members .team_box {
    width: 23%;
  }
}
.team_component .team_members .team_box:hover .team_name {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.team_component .team_members .team_box img {
  width: 100%;
  border-radius: 16px;
}
.team_component .team_members .team_box .team_name {
  bottom: 0px;
  padding-left: 16px;
  padding-bottom: 16px;
  background-image: url(../img/team-hover.svg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 16px;
  opacity: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.team_component .team_members .team_box .team_name h4 {
  margin: 0px;
  color: var(--secondary-100);
  font-size: 20px;
  font-weight: 600;
}
.team_component .team_members .team_box .team_name p {
  margin: 0px;
  color: var(--secondary-100);
}

.faq_component {
  background-color: var(--secondary-300);
  padding: 80px 0;
}
.faq_component .faq_box {
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .faq_component .faq_box {
    flex-direction: row;
  }
}
.faq_component .faq_box img {
  width: 50%;
  border-radius: 16px;
}
.faq_component .faq_box .faq_details h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
@media (min-width: 550px) {
  .faq_component .faq_box .faq_details h2 {
    font-size: 36px;
  }
}
@media (min-width: 882px) {
  .faq_component .faq_box .faq_details h2 {
    text-align: left;
  }
}
.faq_component .faq_box .faq_details p {
  color: var(--primary-200);
  text-align: center;
}
@media (min-width: 550px) {
  .faq_component .faq_box .faq_details p {
    text-align: left;
  }
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li {
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid var(--secondary-200);
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 30px 0 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-100);
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .icon-show {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 12px;
  display: none;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 12px;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .collapsed {
  transition: 0.3s;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-100);
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .collapsed .icon-show {
  display: inline-block;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .collapsed .icon-close {
  display: none;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  text-align: left;
}

.client_component {
  padding: 80px 0;
  text-align: center;
}
.client_component .client_header h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
@media (min-width: 550px) {
  .client_component .client_header h2 {
    font-size: 36px;
  }
}
.client_component .client_header p {
  color: var(--primary-color);
}
.client_component .client-slider {
  padding: 24px 0;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.client_component .client-slider::before {
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  left: 0;
  top: 0;
}
.client_component .client-slider::after {
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.client_component .client-slider .client-slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  width: 3500px;
}
.client_component .client-slider .client-slide {
  width: 350px;
}

.video_component {
  background-image: linear-gradient(360deg, rgba(3, 0, 27, 0.9098039216), rgba(3, 0, 27, 0.1490196078)), url(../img/video_container.svg);
  padding: 24px;
  height: 350px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.video_component .video_details h4 {
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary-100);
}
@media (min-width: 550px) {
  .video_component .video_details h4 {
    font-size: 30px;
  }
}
.video_component .video_details p {
  color: var(--secondary-100);
  margin: 0;
}
.video_component .video_player img {
  animation: enquiry 1s infinite ease-in-out alternate;
  cursor: pointer;
}

.slider_component {
  padding: 80px 0;
}
.slider_component .slider_response {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .slider_component .slider_response {
    flex-direction: row;
  }
}
.slider_component .slider_response .progress_bar_box {
  width: 100%;
}
@media (min-width: 768px) {
  .slider_component .slider_response .progress_bar_box {
    width: 46%;
  }
}
.slider_component .slider_response .progress_bar_box .ce_ixelgen_progress_bar {
  max-width: 800px;
  margin: 0 auto;
}
.slider_component .slider_response .progress_bar_box .ce_ixelgen_progress_bar .progress_bar_item {
  margin-bottom: 20px;
}
.slider_component .slider_response .progress_bar_box .ce_ixelgen_progress_bar .progress_bar_item .item_label {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-200);
  margin-bottom: 0.5rem;
}
.slider_component .slider_response .progress_bar_box .ce_ixelgen_progress_bar .progress_bar_item .item_value {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-200);
  margin-bottom: 0.5rem;
}
.slider_component .slider_response .progress_bar_box .ce_ixelgen_progress_bar .progress_bar_item .item_bar {
  position: relative;
  height: 6px;
  width: 100%;
  background-color: var(--secondary-200);
  border-radius: 4px;
}
.slider_component .slider_response .progress_bar_box .ce_ixelgen_progress_bar .progress_bar_item .item_bar .progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  margin: 0;
  background: linear-gradient(90deg, #e86310, #3c2fc0);
  border-radius: 4px;
  transition: width 100ms ease;
}
.slider_component .slider_response .progress_details h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
}
@media (min-width: 550px) {
  .slider_component .slider_response .progress_details h2 {
    font-size: 36px;
  }
}
@media (min-width: 550px) and (min-width: 882px) {
  .slider_component .slider_response .progress_details h2 {
    text-align: left;
  }
}
.slider_component .slider_response .progress_details p {
  color: var(--primary-200);
}

.testimonials_component {
  background-color: var(--secondary-300);
  background-image: url(../img/testi-bg.webp);
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}
.testimonials_component .testimonial {
  position: relative;
  padding: 80px 0;
  background-position: center;
  background-size: cover;
}
.testimonials_component .testimonial:after {
  position: absolute;
  top: 0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.testimonials_component .testimonial .heading {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  z-index: 999;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
}
@media (min-width: 550px) {
  .testimonials_component .testimonial .heading {
    font-size: 36px;
  }
}
.testimonials_component .testimonial .heading::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
}
.testimonials_component .testimonial .heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
  color: #ffffff;
}
.testimonials_component .testimonial #testimonial4 .carousel-inner {
  min-height: 370px;
}
.testimonials_component .testimonial #testimonial4 .carousel-inner:hover {
  cursor: -webkit-grab;
}
.testimonials_component .testimonial #testimonial4 .carousel-inner:active {
  cursor: -webkit-grabbing;
}
.testimonials_component .testimonial #testimonial4 .carousel-inner .item {
  overflow: hidden;
}
.testimonials_component .testimonial .testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonials_component .testimonial .testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  border-radius: 100%;
}
.testimonials_component .testimonial .testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  border-radius: 100%;
}
.testimonials_component .testimonial .testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonials_component .testimonial .testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 0;
}
.testimonials_component .testimonial .testimonial4_control_button .testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
  padding: 0px;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .testimonials_component .testimonial .testimonial4_control_button .testimonial4_slide {
    width: 70%;
    padding: 20px;
  }
}
.testimonials_component .testimonial .testimonial4_control_button .testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 110px;
  height: 110px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
}
.testimonials_component .testimonial .testimonial4_control_button .testimonial4_slide p {
  color: var(--primary-color);
  font-size: 18px;
  margin: 14px 0;
}
.testimonials_component .testimonial .testimonial4_control_button .testimonial4_slide h4 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 700;
}
.testimonials_component .testimonial .testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  border-radius: 100%;
  -webkit-box-shadow: none;
}
.testimonials_component .testimonial .testimonial4_control_button .carousel-control .left {
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonials_component .testimonial .testimonial4_control_button .carousel-control .left:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}
.testimonials_component .testimonial .testimonial4_control_button .carousel-control .right {
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonials_component .testimonial .testimonial4_control_button .carousel-control .right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}
.testimonials_component .testimonial .carousel-control-next {
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 10px;
  top: 50%;
}
.testimonials_component .testimonial .carousel-control-next .carousel-control-next-icon {
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 10px;
}
.testimonials_component .testimonial .carousel-control-prev {
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 10px;
  top: 50%;
}
.testimonials_component .testimonial .carousel-control-prev .carousel-control-prev-icon {
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 10px;
}

@keyframes enquiry {
  100% {
    transform: translateY(5px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}/*# sourceMappingURL=about-us.css.map */