.contactUs_component {
  background-image: url(../img/contact_hero_bg.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .contactUs_component {
    height: 50vh;
  }
}
.contactUs_component h1 {
  color: var(--secondary-100);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 550px) {
  .contactUs_component h1 {
    font-size: 54px;
  }
}

.workTogether_component {
  padding: 80px 0 40px 0;
  background-color: var(--secondary-300);
}
.workTogether_component .workTogether_heading {
  flex-direction: column;
}
@media (min-width: 992px) {
  .workTogether_component .workTogether_heading {
    flex-direction: row;
  }
}
.workTogether_component .workTogether_heading h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
@media (min-width: 550px) {
  .workTogether_component .workTogether_heading h2 {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .workTogether_component .workTogether_heading h2 {
    text-align: left;
  }
}
.workTogether_component .workTogether_heading p {
  color: var(--primary-200);
  text-align: center;
}
@media (min-width: 768px) {
  .workTogether_component .workTogether_heading p {
    text-align: left;
  }
}

.contact_form_component {
  background-color: var(--secondary-300);
  padding: 40px 0 80px 0;
}
.contact_form_component .contact_response {
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact_form_component .contact_response {
    flex-direction: row;
  }
}
.contact_form_component .contact_response .contactForm_box {
  padding: 36px;
  background-color: var(--secondary-100);
  border-radius: 24px;
}
.contact_form_component .contact_response .contactForm_box h2 {
  font-size: 26px;
  color: var(--primary-color);
  font-weight: 600;
  padding-bottom: 24px;
}
.contact_form_component .contact_response .contactForm_box .contactForm {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.contact_form_component .contact_response .contactForm_box .contactForm .row-id {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}
.contact_form_component .contact_response .contactForm_box .contactForm .row-id .col-id {
  padding: 0;
  width: calc(50% - 10px);
}
.contact_form_component .contact_response .contactForm_box .contactForm .row-id .col-id .iti--allow-dropdown {
  width: 100%;
}
.contact_form_component .contact_response .contactForm_box .contactForm .row-id .col-id input {
  height: 60px;
  border: 1.15px solid var(--secondary-200);
  font-size: 14px;
}
.contact_form_component .contact_response .contactForm_box .contactForm .row-id .form-group {
  width: 100%;
}
.contact_form_component .contact_response .contactForm_box .contactForm .row-id .form-group textarea {
  border: 1.15px solid var(--secondary-200);
  font-size: 14px;
}
.contact_form_component .contact_response .contactForm_box .contactForm .get_started_btn {
  display: flex;
  gap: 16px;
}
.contact_form_component .contact_response .contactForm_box .contactForm .get_started_btn :first-child {
  background-image: linear-gradient(90deg, #f86800, #3c2fc0);
  color: var(--secondary-100);
}
.contact_form_component .contact_response .contactForm_box .contactForm .get_started_btn .hero_btns {
  transition: 0.6s ease-in-out;
}
.contact_form_component .contact_response .contactForm_box .contactForm .get_started_btn .hero_btns:hover {
  transition: 0.6s ease;
  padding-left: 26px;
}
.contact_form_component .contact_response .contactForm_box .contactForm .get_started_btn a {
  border-radius: 60px;
  align-items: center;
  padding: 14px 24px;
  display: flex;
  font-weight: 500;
  text-decoration: none;
  gap: 10px;
  border: none;
  transform-origin: 50% 0;
}
.contact_form_component .contact_response .contactForm_box .contactForm .get_started_btn a img {
  background-image: none;
  border: none;
}
.contact_form_component .contact_response .contactDetail_box {
  padding: 36px;
  background-color: #3c2fc0;
  border-radius: 24px;
}
.contact_form_component .contact_response .contactDetail_box .stay_connected h4 {
  color: var(--secondary-100);
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}
.contact_form_component .contact_response .contactDetail_box .stay_connected .contact_section {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4588235294);
}
.contact_form_component .contact_response .contactDetail_box .stay_connected .contact_section img {
  height: 50px;
  width: 50px;
}
.contact_form_component .contact_response .contactDetail_box .stay_connected .contact_section .phonedata h4 {
  color: var(--secondary-100);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.contact_form_component .contact_response .contactDetail_box .stay_connected .contact_section .phonedata a {
  color: var(--secondary-100);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.contact_form_component .contact_response .contactDetail_box .stay_connected :last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.client_component {
  padding: 40px 0 20px 0;
  text-align: center;
}
.client_component .client_header h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
@media (min-width: 550px) {
  .client_component .client_header h2 {
    font-size: 36px;
  }
}
.client_component .client_header p {
  color: var(--primary-color);
}
.client_component .client-slider {
  padding: 24px 0;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.client_component .client-slider::before {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  left: 0;
  top: 0;
}
.client_component .client-slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.client_component .client-slider .client-slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  width: 3500px;
}
.client_component .client-slider .client-slide {
  width: 350px;
}

.faq_component {
  background-color: var(--secondary-300);
  padding: 80px 0;
}
.faq_component .faq_box {
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .faq_component .faq_box {
    flex-direction: row;
  }
}
.faq_component .faq_box img {
  width: 50%;
  border-radius: 16px;
}
.faq_component .faq_box .faq_details h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
@media (min-width: 550px) {
  .faq_component .faq_box .faq_details h2 {
    font-size: 36px;
  }
}
@media (min-width: 882px) {
  .faq_component .faq_box .faq_details h2 {
    text-align: left;
  }
}
.faq_component .faq_box .faq_details p {
  color: var(--primary-200);
  text-align: center;
}
@media (min-width: 550px) {
  .faq_component .faq_box .faq_details p {
    text-align: left;
  }
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li {
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid var(--secondary-200);
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 30px 0 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-100);
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .icon-show {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 12px;
  display: none;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 12px;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .collapsed {
  transition: 0.3s;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-100);
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .collapsed .icon-show {
  display: inline-block;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li a .collapsed .icon-close {
  display: none;
}
.faq_component .faq_box .faq_details .faq_container .faq .faq-list ul li p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  text-align: left;
}

@keyframes enquiry {
  100% {
    transform: translateY(5px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}/*# sourceMappingURL=contact-us.css.map */